<!DOCTYPE html>
<html>
	<head>
		<title>客诉退款</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!-- VENDOR CSS -->
		<link rel="stylesheet" href="../dists/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../dists/bootstrap-table/dist/bootstrap-table.min.css" />
		<link rel="stylesheet" href="../dists/bootstrap-select/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="../dists/daterangepicker/daterangepicker.css" />
		<link rel="stylesheet" href="../dists/font-awesome/css/font-awesome.min.css">
		<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
		<link rel="stylesheet" href="../dists/toastr/toastr.css" />
		<!-- <link rel="stylesheet" href="../dists/hint/hint.css"/> -->
		<!-- MAIN CSS -->
		<link rel="stylesheet" href="../css/main.css?v=20200331">
		<!-- GOOGLE FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
		<style>
			ul.addressBox{cursor: default;text-decoration: none;}            
			.trackerInfo h3{margin: 12px 0 0 0;font-size: 16px;}
			.trackerInfo table{margin-top: 12px;}
			.trackerInfo table th{font-size: 14px!important;}
			.commentsList{list-style: none;padding: 0;margin: 0;}
			.commentsList li{border-bottom: 1px solid #ddd;padding: 6px;}
			.commentsList li:last-child{border-bottom: 0;}
			.commentsList li span{display: block;;white-space:nowrap;float: left;}
			#toolbar .dropdown,#toolbar input{
				margin-top:5px;
			}
			.btn-group .dropdown,.btn-group .dropdown button{
				float:left;
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="panel panel-headline">
				<div class="panel-heading">
					<div class="left">
						<h3 class="panel-title">客诉退款</h3>
						<div class="toolBox btn-group">
							<!-- <button class="btn btn-info btn-sm searchOpen" onclick="tableUi.showSearchView();"><i class="fa fa-angle-double-up"></i>&nbsp; 搜索 </button> -->
                            <div class="btn-group">
								<div class='dropdown'>
									<button type="button" class="btn btn-success btn-sm" id="upload"><i class="fa fa-upload"></i> 导入退款信息</button>
									<button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="../excel/客诉退款信息模板.xls">下载客诉退款信息模板</a></li>
									</ul>
								</div>
                                <button class="btn btn-warning btn-sm export" onclick="tools.exportByFrom('/api/admin/erp/settle/refund/export');"><i class="fa fa-download"></i>&nbsp;&nbsp;导出</button>
                            </div>
							<span id="analysisMes"></span>
						</div>	
                        <button class="btn btn-warning btn-sm export" authority="FINANCE_EXPORT" onclick="tools.exportByFrom('/api/admin/erp/finance/invoice/export');"><i class="fa fa-download"></i>&nbsp;&nbsp;导出</button>
					</div>	
					<div class="toolBox btn-group right">
						<button class="btn btn-info btn-sm refresh" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
					</div>
				</div>
				<div class="panel-body">
					<div id="toolbar" class="btn-group">
						<input type="text" inputTpye="daterange" rangeStart="refundBeginTime" rangeEnd="refundEndTime" class="form-control" name="deliveryTimes" placeholder="实际退款日期" tostring="true"/>
                        <input type="text" inputTpye="daterange" rangeStart="trackerCreatedAtBeginTime" rangeEnd="trackerCreatedAtEndTime" class="form-control" name="trackerTimes" placeholder="发货时间" />
						<!-- <select class="selectpicker" data-live-search="true" name="storehouseId"></select> -->
						<select class="selectpicker" data-live-search="true" name="paymentType"></select> <!-- 全部付款方式-->
						<select class="selectpicker" data-live-search="true" name="storehouseId"></select>   <!-- 全部仓库 -->
						<input type="text" class="form-control" name="deliveryCode" placeholder="发货单号">
						<input type="text" class="form-control" name="trackingNumber" placeholder="物流单号">
						<select class="selectpicker" data-live-search="true" name="refundType"></select>   <!-- 全部退款方式 -->
						<button class="btn btn-primary" onclick="app.data.table.bootstrapTable('refresh');" style='margin-top:5px;'><i class="fa fa-search"></i>&nbsp;&nbsp;查询</button>
						<div style='
							display: block;
							margin-top: 10px;
							width: 100%;
							max-width: 100%;'
						>
							<button class="btn btn-danger" onclick="app.methods.batchCancel()">批量刪除</button>
						</div>
					</div>
					<table id="table-main"></table>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../dists/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="../dists/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../dists/bootstrap-table/dist/bootstrap-table.js" ></script>
    <script type="text/javascript" src="../dists/bootstrap-table/dist/locale/bootstrap-table-zh-CN.min.js" ></script>
	<script type="text/javascript" src="../dists/bootstrap-select/js/bootstrap-select.min.js" ></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>     
	<script type="text/javascript" src="../dists/art-template/dist/template-native.js"></script>
	<script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../dists/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="../dists/plupload-2.3.6/js/plupload.full.min.js"></script>
	<script type="text/javascript" src="../dists/plupload-2.3.6/js/i18n/zh_CN.js"></script>
	<script type="text/javascript" src="../js/plupload-upload.js"></script>
	<script type="text/javascript" src="../dists/layer/layer.js"></script>
	<script type="text/javascript" src="../dists/toastr/toastr.js"></script>
	<script type="text/javascript" src="../js/common.js?v=20200331"></script>
	<script type="text/javascript" src="../js/public-func.js?v=20200331"></script>
	<script type="text/javascript" src="../js/jquery.table2excel.js"></script>
	<script type="text/html" id="trackerInfo">
        <div class="trackerInfo">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>配送状态</th>
                        <th>状态描述</th>
                        <th>详情</th>
                        <th>更新时间</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0;i < trackinfo.length;i++){ %>
                        <tr>
                            <td style="text-align:center;"><%= i + 1 %></td>
                            <td>
								<% if(trackinfo[i].checkpoint_status == 'pending'){ %>
									查询中
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'notfound'){ %>
									查询不到
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'transit'){ %>
									运输途中
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'pickup'){ %>
									到达待取
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'delivered'){ %>
									成功签收
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'undelivered'){ %>
									投递失败
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'exception'){ %>
									可能异常
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'other'){ %>
									其他状态
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'expired'){ %>
									运输过久
								<% } %>
								<% if(trackinfo[i].checkpoint_status == 'null'){ %>
									查询超时
								<% } %>
							</td>
                            <td><%= trackinfo[i].StatusDescription %></td>
                            <td><%= trackinfo[i].Details %></td>
                            <td><%= trackinfo[i].Date %></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
        
        <h4></h4>
        <p></p>
    </script>
	<script type="text/javascript">
		var app = {
			data : {
                table : $("#table-main"),
                financeData: [],
                storageType: cacheSessionStorage.getCache('storageType'),
                initUploadState: false
			},
			methods : {
				initTable : function(){
					var authority_data = authoritys.useAuthority();
					// if(!authority_data){
					// 	toastr.error("权限不足，不允许访问...")
					// 	return;
					// } 
					app.data.table.bootstrapTable(Object.assign(tableUi.data.tableOption_page, {
                        url: utils.prePath() + '/api/admin/erp/settle/refund/list', // 客诉退款列表
						columns: app.methods.optionByAuthority(),
						onLoadSuccess : function(data){
							tableUi.initBootstrapTable();
							authoritys.useAuthority();
							app.data.financeData = data.body.content
							// 全选功能
							app.events.initCheckbox();
							app.data.initUploadState == false && app.methods.initPushFile();
							$('.editableNo_a').editable({ 
								type: "text",    //编辑框的类型。支持text|textarea|select|date|checklist等 
								title: "用户名",    //编辑框的标题 
								disabled: false,    //是否禁用编辑 
								emptytext: "空文本",   //空值的默认文本 
								mode: "inline",    //编辑框的模式：支持popup和inline两种模式，默认是popup 
								validate: function (value) { //字段验证 
									if (!$.trim(value)) { 
										return '不能为空'; 
									} 
								},
								success: function(data, config){
									let tracking = $(this).attr('tracker_id')
									$.ajax({
										type: "PUT",
										url: utils.prePath() + '/api/admin/erp/settle/refund/'+ tracking +'/remark',
										dataType:'json',
										headers:{
											'Content-Type': 'application/x-www-form-urlencoded'
										},
										data:{
											'remark': config
										},
										success: function (result) {
											if(result.statusCode == 'OK'){
												toastr.success('备注成功');
											}else{
												toastr.error('修改失败');
											}
										},
										error: function (result){
											toastr.error('修改失败');
										}
									})
								}
							}); 
					    },  
					}));
				},
                optionByAuthority: function () {
                    var option = [{
						title: '<label class="fancy-checkbox"><input type="checkbox" class="checkAll"><span></span></label>',align: 'center',
						formatter: function (value, row, index, field) {
							return '<label class="fancy-checkbox"><input type="checkbox" class="checkOrder" data-id="' + row.refund_id +'" data-index="' + index + '"><span></span></label>';
						}
					}, {
						field: 'refund_date',title: '<span style="color:#CE2424 !important">实际退款日期</span>',align: 'center', minWidth:200,
						formatter: function (value, row, index, field) {
							// return '<span style="color:#CE2424 !important">'+ tools.formatterFunction.time(parseInt(value)) +'</span>'
							return '<span style="color:#CE2424 !important">'+ value +'</span>'
						}
					}, {
                        field: 'delivery_code',title: '发货单号',align: 'center'
					}, {
						field: 'tracker_create_date',title: '发货时间',align: 'center', minWidth:200,
					}, {
						field: 'storehouse_id',title: '发货仓',align: 'center',
						formatter: function (value, row, index, field) {
							if(value == 8){
								return '西安仓'
							}else if(value == 9){
								return '台湾仓'
							}else if(value == 10){
								return '深圳仓'
							}else{
								return '未知'
							}
                        }
					}, {
						field: 'tracking_number',title: '物流单号',align: 'center',
					}, {
						field: 'order_code',title: '订单号',align: 'center',minWidth:200,
						formatter: function (value, row, index, field){
							let showInfo = value.split(',')
							let skuinfoHtml = ''
							for(let i = 0;i< showInfo.length;i++){
								skuinfoHtml += '<div class="skuinfoList"><span>'+ showInfo[i] +'</span></div>'
							}
							return skuinfoHtml
						}
					}, {
						field: 'sale_service_create_date',title: '反馈日期',align: 'center',minWidth:100,
					}, {
						field: 'settlement_status',title: '收货信息',align: 'center',minWidth:300,
						formatter: function (value, row, index, field) {
							return row.consignee + row.tel + '<br>' + row.city + row.district +row.detail
						}
					},
					{
						field: 'payment_type',title: '付款方式',align: 'center',
						formatter: function (value, row, index, field){
							if(value == 1){
								return '到付'
							}else if(value == 2){
								return 'PayPal'
							}else if(value == 3){
								return '信用卡'
							}
						}
					},{
						field: 'account_name',title: '户名',align: 'center',minWidth:80,
					},
					{
						field: 'account_number',title: '银行账号',align: 'center',minWidth:150,
					},
					{
						field: 'account_bank',title: '银行/分行',align: 'center',minWidth:80,
					},
					{
						field: 'refund_type',title: '<span style="color:#CE2424 !important">退款方式</span>',align: 'center',
						formatter: function (value, row, index, field){
							return '<span style="color:#CE2424 !important">'+ (value != null ? value : '--') +'</span>'
						}
					},
					{
						field: 'original_refund_price',title: '<span style="color:#CE2424 !important">原退款金额(NT$)</span>',align: 'center',
						formatter: function (value, row, index, field){
							return '<span style="color:#CE2424 !important">'+ (value != null ? value : '--') +'</span>'
						}
					},
					{
						field: 'freight_refund_price',title: '<span style="color:#CE2424 !important">运费报销(NT$)</span>',align: 'center',
						formatter: function (value, row, index, field){
							return '<span style="color:#CE2424 !important">'+ (value != null ? value : '--') +'</span>'
						}
					},
					{
						field: 'total_refund_price',title: '<span style="color:#CE2424 !important">退款总额(NT$)</span>',align: 'center',
						formatter: function (value, row, index, field){
							return '<span style="color:#CE2424 !important">'+ (value != null ? value : '--') +'</span>'
						}
					},
					{
						field: 'actual_refund_price',title: '<span style="color:#CE2424 !important">实际退款金额(NT$)</span>',align: 'center',
						formatter: function (value, row, index, field){
							return '<span style="color:#CE2424 !important">'+ (value != null ? value : '--') +'</span>'
						}
					},
					{
						field: 'last_refund_price',title: '<span style="color:rgba(51, 0, 102, 0.85) !important">最终退款金额(NT$)</span>',align: 'center',
						formatter: function (value, row, index, field){
							return '<span style="color:rgba(51, 0, 102, 0.85) !important">'+ value +'</span>'
						}
					},
					{
						field: 'service_price',title: '<span style="color:#CE2424 !important">退款手续费(NT$)</span>',align: 'center',
						formatter: function (value, row, index, field){
							return '<span style="color:#CE2424 !important">'+ (value != null ? value : '--') +'</span>'
						}
					},
					{
						field: 'handle_result',title: '处理结果',align: 'center'
					},
					{
						field: 'remark',title: '备注（点击编辑）',align: 'center',minWidth:300,
						formatter:function(value,row,index){
							return  '<span class="editableNo_a" tracker_id="'+ row.refund_id +'">' +  (value != null ? value : '--') + '</span>'     
						}
					}, {
						title: '操作',align: 'center',minWidth:150,
						formatter: function (value, row, index) {
							return '<div class="toolBox btn-group">'+
								'<button type="button" class="btn btn-danger" onclick="app.methods.delAdd(' + row.refund_id + ')"><i class="fa fa-trash-o"></i> 删除</button>'+
								'</div>';
						}
					}];
                    return option;
				},
				// 单个列表删除操作
				delAdd:function(refund_id){
					let p_data = []
					p_data.push(refund_id)
					layer.confirm('确定删除该条数据吗？', {icon: 2, title:'警告'}, function(_index){
                        var url = '';
						$.ajax({
							type: "POST",
							contentType: 'application/x-www-form-urlencoded',
							url: utils.prePath() + '/api/admin/erp/settle/refund/remove',
							data: {
								refundIds: p_data.join(',')
							},
							success: function (result) {
								if (result.statusCode == 'OK') {
									toastr.success('删除成功...');
									layer.closeAll();
									app.data.table.bootstrapTable('refresh');
								} else {
									toastr.error((result.body && result.body.message) ? result.body.message : '系统异常,请稍候重试或联系开发人员...');
								}
							}
						});
					});
				},
				// 批量操作
				batchCancel: function(){
					let p_data = []
					$('.checkOrder').each(function(i){
						var i = $(this).data('index')
						if($(this).is(":checked")){
							p_data.push($(this).data('id'))
						}
					});
					if(p_data == 0){
						toastr.error('请选择需要删除的退款订单')
						return false
					} else {
						layer.confirm('确定删除这'+ p_data.length +'条数据吗？', {icon: 2, title:'警告'}, function(_index){
							$.ajax({
								type: "POST",
								url:  utils.prePath() + '/api/admin/erp/settle/refund/remove',
								contentType: 'application/x-www-form-urlencoded',
								data: {
									refundIds: p_data.join(',')
								},
								success: function (result) {
									if (result.statusCode == 'OK') {
										toastr.success('删除成功');
										layer.closeAll();
										app.data.table.bootstrapTable('refresh');
									} else {
										toastr.error((result.body && result.body.message) ? result.body.message : '系统异常,请稍候重试或联系开发人员...');
									}
								}
							});
						});
					}
				},
				showTracking: function(index){
					if(app.data.financeData[index].origin_info && app.data.financeData[index].origin_info != {}){
						layer.open({
							type: 1,
							content: template('trackerInfo',  JSON.parse(app.data.financeData[index].origin_info)),
							area: ['800px', 'auto'],
							title: '查看货运详情',
							skin: 'trackerInfoBox',
							closeBtn: 1
						});
					}else{
						toastr.error('查询不到货运详情...');
					}
				},
				remark: function(index){
					layer.prompt({
                        title: '备注',
                        value: app.data.financeData[index].remark,
                        formType: 0
                    }, function (text, i) {
						$.ajax({
							type: "PUT",
							url: utils.prePath() + "/api/admin/erp/delivery/tracker/remark",
							data: JSON.stringify({
								trackingNumber : app.data.financeData[index].tracking_number,
								remark : text
							}),
							success: function (result) {
								if (result.statusCode == 'OK') {
									toastr.success('操作成功...');
									app.data.table.bootstrapTable('refresh');
									layer.closeAll();
								} else {
									toastr.error((result.body && result.body.message) ? result.body.message : '系统异常,请稍候重试或联系开发人员...');
								}
							}
						});
                    });
                },
                pass: function(trackerInfoId,state){
					$.ajax({
						type: "PUT",
						url: utils.prePath() + "/api/admin/erp/finance/invoice/" + state + '/' + trackerInfoId,
						success: function (result) {
							if (result.statusCode == 'OK') {
								toastr.success('操作成功...');
								app.data.table.bootstrapTable('refresh');
							} else {
								toastr.error((result.body && result.body.message) ? result.body.message : '系统异常,请稍候重试或联系开发人员...');
							}
						}
					});
                },
                initPushFile: function(){
					// 退款信息导入
					var uploader = new plupload.Uploader({
						runtimes: 'html5,html4',
						browse_button: 'upload',
						url: utils.prePath() + "/api/admin/erp/settle/refund/import",
						file_data_name: 'file',
						filters: {
							max_file_size: '10240kb',
							mime_types: [{ title: "Excel files", extensions: "xls" }],
						},
						multipart_params: {
							access_token: utils.cookie.getCookie('accessToken'),
						},
						init: {
							FilesAdded: function (up, files) {
								layer.load();
								up.start();
								toastr.info('正在上传...');
							},
							FileUploaded: function(uploader,file,responseObject){
                                var mes = JSON.parse(responseObject.response);
                                console.log(mes.body.errores)
								if(mes.statusCodeValue == 200){
									if(mes.body.length > 0){
										let html = '<table id="errorTable" class="table"><tr><td>国际物流单号</td><td>发货单号</td><td>退款方式</td><td>原退款金额（NT$）</td><td>运费报销（NT$)</td><td>退款总额（NT$)</td><td>实际退款金额（NT$)</td><td>最终退款金额（NT$)</td><td>退款手续费（NT$）</td><td>实际退款日期</td></tr>'
										let newMes = mes.body
										newMes.map(function(e){
											html += '<tr><td>'+e.trackingNumber+'</td><td>'+e.deliveryCode+'</td><td>'+e.refundType+'</td><td>'+e.originalRefundPrice+'</td><td>'+e.freightRefundPrice+'</td><td>'+ e.totalRefundPrice +'</td><td>'+ e.actualRefundPrice +'</td><td>'+ e.lastRefundPrice +'</td><td>'+ e.servicePrice +'</td><td>'+ moment(e.refundDate).format('YYYY-MM-DD HH:mm:ss') +'</td></tr>';
										})
										toastr.error('导入成功，' + mes.body.length + '条数据导入失败' );
										layer.open({
											type: 1,
											content: html+'</table>',
											title: '有' + mes.body.length + '条数据导入失败',
											area: ['85vw', '80vh'],
											closeBtn: 1,
											btn: ['下载'],
											yes: function(){
												$("#errorTable").table2excel({
													name: "客诉退款异常数据",
													filename: "客诉退款异常数据" + new Date().toISOString().replace(/[\-\:\.]/g, ""),
													fileext: ".xls"
												});
											}
										});
									}else{
										toastr.success('导入成功');
									}
									
								}else{
									toastr.success('导入失败' + (mes.body.length > 0 ? ', '+ mes.body[0].message : ''));
								}
								layer.closeAll('loading');
							},
							Error: function (up, err) {
								toastr.error(JSON.parse(err.response).body.message);
								layer.closeAll('loading');								
							}
						}
					});
					uploader.init();
					app.data.initUploadState = true;
				},
				initSelect : function(){
                    tools.rangeTime('input[name="deliveryTimes"]');
                    tools.rangeTime('input[name="trackerTimes"]',true);
					// 全部支付方式
					tools.renderSelect.paymentType('select[name="paymentType"]')
					// 全部仓库
					tools.renderSelect.storehouseId('select[name="storehouseId"]')
					// 全部退款方式
					tools.renderSelect.refundType('select[name="refundType"]')
				}
			},
			events:{
				initCheckbox:function(){
					$('.checkAll').on('click',function(){
						console.log('选择')
						if($(this).is(":checked")){
							$('.checkOrder').each(function(){
								if(!$(this).is(":checked")){
									$(this).click()
								}
							})
						}else{
							$('.checkOrder').each(function(){
								if($(this).is(":checked")){
									$(this).click()
								}
							})
						}
					});
				}
			},
			init : function(){
				app.methods.initSelect();
				app.methods.initTable();
				tools.toolbarEnterEvent(function(){app.data.table.bootstrapTable('refresh')});
			}
		}
		$(function(){
			app.init();
		});
	</script>
</html>
